* {
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 15px;
    font-weight: bold;
    font-size: 27px;
    font-family: "Times New Roman", Times, serif;
}

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

.navbar-brand span {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

#nav-list {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    background-color: #DCDCDC;
    border: 1px solid black;
}

#nav-list a:hover {
    background-color: #708090;
}

#nav-list a {
    color: black;
    text-align: center;
}

p {
    padding: 15px 5px 0px 5px;
    font-family: Georgia sans-serif;
    font-size: 16px;
    position: relative;
}

.row {
    width: 100%;
}

#p1 h1,
#p2 h1,
#p3 h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.space {
    margin: 3%;
}

#p1,
#p2,
#p3 {
    background-color: gray;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    height: 400px;
    text-align: justify;
    position: relative;
    overflow: auto;
}

.icon-bar {
    border: 1px solid black;
}